h1= title
p Create a room
  form(action='/', method='POST')
    label(for='name') Room name
    input(type='text', id='name', name='name')
    input(type='submit', value='Submit')

  ul
    each room in rooms
      li= room.name
        input(type='button', value='Join', onclick='location.href=\'/game/' + room.id + '\'');