!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='//connect.facebook.net/en_US/all.js')
    meta(name='apple-itunes-app', content='app-id=519624048')
  body!= body